[submodule "dpfwebui"]
	path = external/dpfwebui
	url = https://github.com/lucianoiam/dpfwebui
[submodule "DPF"]
	path = external/DPF
	url = https://github.com/DISTRHO/DPF
[submodule "external/GeneralUser-GS"]
	path = external/GeneralUser-GS
	url = https://github.com/mrbumpy409/GeneralUser-GS.git
[submodule "external/TinySoundFont"]
	path = external/TinySoundFont
	url = https://github.com/schellingb/TinySoundFont
[submodule "external/tsf"]
	path = external/tsf
	url = https://github.com/firodj/tsf
[submodule "external/cmidi2"]
	path = external/cmidi2
	url = https://github.com/atsushieno/cmidi2
